{% set form = context.form %}
{% set notifications = form.notifications.slack is defined ? form.notifications.slack %}

<div id="formbuilder-slack-notifications-container">
    {% for key, notification in notifications %}
        {% include 'formbuilderslacknotifications/_includes/_notification' ignore missing with { notification: notification, key: key } %}
    {% endfor %}
</div>
<a href="#" class="btns btn-info btn-repeater add-slack-notification" data-context="{{ context |json_encode() }}" data-form-id="{{ context.form.id }}">{{ "Add Slack Notification" |t }}</a>
{% includeJsResource "formbuilderslacknotifications/js/slacknotifications.js" %}

